body {
    background-color: #333;
}

h1 {
    color: coral;
    font-size: 3em;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: underline;
    font-style: italic;
}

p {
    color: chocolate;
    font-size: 1.5em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px;
    font-style: oblique;
}

a {
    color: cyan;
    font-size: x-large;
    font-style: italic;
}

h2 {
    color: grey;
    font-size: 2em;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
}