body{
    background-color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ccc
}
* div{
    font-size: 1.25em;
    text-align: center;
    color: #ff9600;
    text-transform: uppercase;
}
* span {
    font-size: 1.25em;
    text-align: center;
    color: #ff9600;
    text-transform: uppercase;
    font-style: italic;
}