body {
    background-color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ccc;
}

/* :focus-within pseudo class is used for focusing the descendants/
child elements of the parent element */

.myForm{
    text-align: center;
}

.myDiv{
    margin: 1em;
    padding: 1em 5em;
    border: 1px solid #111;
    border-radius: 15px;
}

.myDiv:focus-within{
    background-color: #0a0a0a;
    border: 1px solid deepskyblue;
}