*{
    margin: 0;
    padding: 0;
}


body {
    background-color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ccc;
    animation: sky linear 5s forwards;
}

img{
    position: relative;
    top: 340px;
}

.sun{
    position: absolute;
    background-color: orange;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    top: 4%;
    left: 15%;
    box-shadow: 0 0 20px 5px orange;
    animation: sunset 5s ease-in forwards;
}

@keyframes sky {
    0%{
        background-color: #d60;
    }
    35%{
        background-color: #c40;
    }
    55%{
        background-color: #b20;
    }
    90%{
        background-color: #004;
    }
    100%{
        background-color: #002;
    }
}

@keyframes sunset {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 1;        
    }
    100%{
        transform: translateY(450px); 
        opacity: 0;       
    }
    
}

.moon{
    position: absolute;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    background-color: transparent;
    box-shadow: -20px 10px 2px #fff;
    right: 10%;
    bottom: 2%;
    opacity: 0;
    animation: night 5s ease-out 4s forwards;
}

@keyframes night {
    100%{
        transform: translateY(-450px);
        opacity: 1;
    }
}